@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('clash-display.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
        --primary-blue : #3366FF ;
        --black-main : #090909 ;
        --gray-main : #D2CFD1 ;


        --blue-1 : #003072 ;
        --blue-2 : #65A5FE ;
        --blue-3 : #88B9FF ;
        --blue-4 : #EBF4FE ;
        --blue-6 : #F5F9FF ;
        --blue-5 : #4391FE ;
}

html,body, * {
        padding: 0;
        margin: 0;
        font-family: 'Inter', sans-serif;
        box-sizing: border-box !important;         
        scroll-behavior: smooth !important;
}

svg{
        transition: all .25s ease-in-out;
        height: 24px;
        width: 24px;
        
        *{
                transition: transform .3s ease-in-out;
                color: currentColor;
                stroke: currentColor;
        }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
      
::-webkit-scrollbar {
        width: 0px;
        height: 0;
}

a {
        color: inherit;
        text-decoration: none;
}

button{
        all:unset;
        cursor: pointer;
        &::selection{
                background: none;
        }
}      


h1, h2, h3, h4, h5, h6,.label_l,.label_s{
        font-family: 'Syne', sans-serif;
        font-weight: 600;
}
h1{
        font-size: 80px;
        line-height: 96px;
}
h2{
        font-size: 64px;
        line-height: 76.8px;
}
h3{
        font-size: 48px;
        line-height: 57.6px;
}
h4{
        font-size: 32px;
        line-height: 38.4px;
}
h5{
        font-size: 24px;
        line-height: 28.8px;
}
h6, .label_l{
        font-size: 20px;
        line-height: 24px;
}
.label_s{
        font-size: 16px;
        line-height: 19.2px;
}

.b1{
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
}
.b2{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
}
.b3{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
}
.b4{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
}
.b5{
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
}

.primary_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        width: calc(100% - 2px);
        border-radius: 8px;
        padding: 16px 0;
        border: 1px solid transparent;
        cursor: pointer;

        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        white-space:nowrap;


        &.primary{
                background-color: var(--primary-blue);
                color: #fff;
                transition: all .3s ease-in-out;

                &:hover, &:focus{
                        background-color: var(--blue-5);
                        color: #fff;
                }
                &:active {
                        background-color: var(--blue-1);
                        color: #fff;
                }
                &:disabled{
                        background-color: var(--gray-main);
                        color: #fff;
                        cursor: not-allowed;
                }
        }
        &.secondary{
                background-color: #fff;
                color: var(--primary-blue);
                border: 1px solid var(--primary-blue);
                transition: all .3s ease-in-out;

                &:hover, &:focus{
                        background-color: var(--blue-3);
                }
                &:active {
                        background-color: var(--blue-1);
                }
                &:disabled{
                        background-color: var(--blue-4);
                        cursor: not-allowed;
                }
        }
        &.warning{
                background-color: var(--red-main);
                color: #fff;
                transition: all .3s ease-in-out;

                &:hover, &:focus{
                        background-color: var(--red-2);
                        // color: var(--black-main);
                }
                &:active {
                        background-color: var(--red-1);
                        color: #fff;
                }
                &:disabled{
                        background-color: var(--red-3);
                        color: #fff;
                        cursor: not-allowed;
                }
        }
        &.warning_sec{
                background-color: #fff;
                color: var(--red-main);
                border: 1px solid var(--red-main);
                transition: all .3s ease-in-out;

                &:hover, &:focus{
                        background-color: var(--red-3);
                }
                &:active {
                        background-color: var(--red-1);
                }
                &:disabled{
                        background-color: var(--red-5);
                        cursor: not-allowed;
                }
        }

        @media screen and (max-width:675px) {
                padding: 16px 0;
        }

        &:hover,&:focus{
                #svgright{
                        transform: translateX(8px);
                }
                #svgleft{
                        transform: translateX(-8px);
                }
        }
}

.category_item{
        border-radius: 50px;
        padding: 2px 12px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: fit-content;
        max-width: 250px ;
        font-weight: 500;
        font-size: 9px;
        line-height: 10px;
        text-align: center;
        cursor: pointer;
        border: .5px solid transparent;

        transition: all .3s ease-in-out;

        svg{
                width: 20px;
                height: 20px;
        }

        &.pink{
                
                background-color: #FCDCEF;
                color: #821958;
                border: .5px solid #AD307B;

                svg *{
                        fill: #821958;
                }
        }
        &.red{
                background-color: #F66A57;
                color: #101012;
                border: .5px solid #F66A57;

                svg *{
                        fill: #821958;
                }
        }
        &.brown{
                background-color: #F5E9CB;
                color: #594510;
                border: .5px solid #A07C22;

                svg *{
                        fill: #594510;
                }
        }
        &.blue{
                background-color: #D1E4FA;
                color: #1F4781;
                border: .5px solid #2863B8;

                svg *{
                        fill: #1F4781;
                }
        }
        &.orange{
                background-color: #F3DFCC;
                color: #5F380E;
                border: .5px solid #B26D22;

                svg *{
                        fill: #5F380E;
                }
        }
        

        &:hover, &:focus{
                opacity: .6;
        }
}

.formController{
        font-size: 14px;
        line-height: 20px;
        position: relative;

        label{
                display: block;
                margin-bottom:8px ;
                color: #6A6568;
        }

        input, textArea,select{
                display: block;
                width: 100% !important;
                border: 1px solid #D4DCF1;
                outline: .5px solid transparent;
                border-radius: 8px;
                padding: 16px 12px;
                font-size: 14px;
                line-height: 20px;
                background-color: #F3F7FE;
                transition: border .25s ease-in-out;
                color: var(--black-main);

                &::placeholder{
                        color: #484851;
                        font-weight: 400;
                        // letter-spacing: 0.25%;
                }

                &:hover, &:focus{
                        border: 1px solid var(--primary-blue);
                        outline: .5px solid var(--primary-blue);
                }
                &.warn{
                        border: 1px solid var(--red-4);
                        outline: .5px solid var(--red-4);
                }
                &.disabled, &:disabled {
                        border: 1px solid var(--gray-main);
                        background-color: #F2F2F2;
                        color: var(--gray-main);
                        outline: .5px solid transparent;
                        
                }
        }

        select{
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
        }

        .form_input{
                position: relative;

                input{
                        padding: 16px 44px ;
                        padding-right: 14px;
                }

                svg{
                        position: absolute;
                        top: 14px;
                        

                        &#svgleft{left: 12px;}
                        &#svgright{right: 12px;}

                }
        }

        textArea{
                min-height: 120px;
                max-height: 450px;
                resize: vertical;
        }


        .desc{
                font-size: 10px;
                line-height: 14px;
                margin-top: 5px;

                &.warn{
                        color: var(--red-4);
                }
        }
       
        svg{
                color: #0D2159;
                stroke:#0D2159;
        }


       
}

.rating{
        display: flex;
        gap: 10px;
        align-items: center;

        span{
                display: flex;
                justify-content: center;
                align-items: center;

                svg{
                        height:unset;
                        width:unset;
                }
        }
        
}

.app__container {
        min-height: 100vh;
        padding: 24px 28px 100px 28px;

        @media screen and (max-width:900px) {
                margin-top:85px ;
                padding: 24px 16px 100px 16px;

        }
}

.app__flex {
        display: flex;
        justify-content: center;
        align-items: center;
}

.navbar{

        position: fixed;
        z-index: 5;
        width: 100%;

        .logo{
                span{font-family: ClashDisplay-Bold, sans-serif ;}
        }

        &.blur_navbar{
                background: rgba(255, 255, 255, 0.21);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.7px);
                -webkit-backdrop-filter: blur(4.7px);
                border-bottom: 1px solid rgba(255, 255, 255, 0.21);
        }

        &.listing_variant{
                background: rgba(242, 246, 253, 1);

                &.blur_navbar{
                        background: rgba(242, 246, 253, 0.8);
                        backdrop-filter: blur(4.7px);
                        -webkit-backdrop-filter: blur(4.7px);
                }

        }
}

.review_rolls{
        position: relative;
        background-color: #e9ebec;
        padding: 2px;
        overflow: hidden;
        border-radius: 12px;
        
        display: flex;
        gap: 18px;

        .row{
                position: relative;
                flex: 1;

                >section{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
                }
        }

        &::before{
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, #FAFCFD 9.01%, rgba(250, 252, 253, 0) 22.32%, rgba(250, 252, 253, 0) 66.67%, #FAFCFD 96.46%);
        }

        .review{
                box-shadow: 0px 16px 64px 0px #0000001A;
                background-color: #fafcfd;
                border-radius: 15px;
                padding: 14px;

                .review_head{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        margin-bottom: 12px;


                        img{
                                border-radius: 50%;
                                height: 25px;
                                width: 25px;
                        }

                        .head_info{
                                flex: 1;
                                @extend .app__flex;
                                justify-content: space-between;
                                gap: 12px;

                                .left_info{
                                        display: flex;
                                        flex-direction: column;

                                        p{
                                                font-size: 12px;
                                                font-weight: 500;
                                        }
                                        span{
                                                font-size: 8px;
                                                font-weight: 300;
                                        }
                                }
                                .right_info{
                                        display: flex;
                                        flex-direction: column;
                                        align-items:flex-end;
                                        p{
                                                font-size: 11px;
                                                font-weight: 500;
                                        }

                                }
                        }
                }

                .review_content{
                        font-size: 14px;
                        line-height: 19.6px;
                }

                .review_footer{
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 12px;


                        .actions{
                                @extend .app__flex;
                                justify-content: flex-start;
                                gap: 8px;
                                color: #8F95B2;
                                font-size: 10px;
                                font-weight: 500;
                                cursor: pointer;
                        }
                }
        }
}

.threads{
        .review{
                border-radius: 15px;
                padding: 16px 0;


                .review_head{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        margin-bottom: 12px;


                        img{
                                border-radius: 50%;
                                height: 25px;
                                width: 25px;
                        }

                        .head_info{
                                flex: 1;
                                @extend .app__flex;
                                justify-content: space-between;
                                gap: 12px;

                                .left_info{
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;

                                        p{
                                                font-size: 14px;
                                                font-weight: 400;
                                        }
                                        span{
                                                font-size: 14px;
                                                font-weight: 400;
                                                opacity: .6;
                                        }
                                }
                                .right_info{
                                        display: flex;
                                        align-items:center;
                                        justify-content: flex-end;
                                        gap: 4px;

                                        p{
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 16px;
                                        }

                                        svg{
                                                width: unset;
                                                height: unset;
                                        }

                                }
                        }
                }

                .review_content{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #18181B;
                }

                .review_footer{
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 12px;


                        .actions{
                                @extend .app__flex;
                                justify-content: flex-start;
                                gap: 10px;
                                color: #0D2159;
                                font-size: 14px;
                                font-weight: 400;
                                cursor: pointer;

                                svg{
                                        margin-right: -6px;
                                }
                        }
                }
        }   
}

.thread_imgs{
        position: sticky;
        top: 220px;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        gap: 16px; 
        height: fit-content;

        div{
                background-color: #ccc;
                border-radius: 8px;
                max-height: 224px;
                height: 100%;
                width: calc(50% - 8px);
                overflow: hidden;

                img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        max-height: 224px;

                }

                button{
                        position: absolute;
                        color: white;
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                }

        }

        >:last-child{
                position: relative;
                display: block;

                &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        background-color: rgba(30, 30, 30, 0.75);
                }
        }
}